.item {
  color: inherit;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: text-decoration-color 300ms !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.item:hover,
.item:focus,
.item:active {
  text-decoration-color: #dd6b20;
  background-color: transparent;
}
